# Python techniques

### DATETIME OPERATIONS

In [4]:
from datetime import datetime
now = datetime.now()
now.year
now.month
now.day
now.hour
now.minute
now.second

#format mm-dd-yyyy	
print ('%02d-%02d-%04d' % (now.month, now.day, now.year))
#format hh:mm:ss	
print ('%02d:%02d:%02d' % (now.hour, now.minute, now.second))

05-13-2019
14:33:46

### STRINGS HANDLING

In [5]:
c = "cats"[0] #set first algarism
n = "Ryan"[3] #set forth algarism
z = 'abc' + 'def' + str(123)
print(c, n, z)

c n abcdef123

### DICTIONARIES

In [8]:
dic = {'key1' : 1, 'key2' : 2, 'key3' : 3}

print( dic['key2']) #brings 2
dic['key1'] = 11 # change 1 value to 11

print(dic)

del dic['key3'] # removes 3rd item
print(dic)

2
{'key1': 11, 'key2': 2, 'key3': 3}
{'key1': 11, 'key2': 2}

In [13]:
prices = {"banana": 4,"apple": 2}
stock = {"banana": 6, "apple": 0}
for key in prices:
  print(key)
  print("Prices %s: %s" % (key,prices[key]))
  print("Stock %s: %s" % (key,stock[key]))

banana
Prices banana: 4
Stock banana: 6
apple
Prices apple: 2
Stock apple: 0

### LISTS HANDLING

In [18]:
NUM=['i1', 'i2', 'i3', 'i4', 'i5', 'i6']

In [19]:
NUM[1] #return i2

'i2'

In [24]:
NUM.append("iNEW") 	#appends iNEW to the end
NUM

['i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'iNEW']

In [26]:
slice1 = NUM[1:2] 	#returns i2
slice1

['i2']

In [27]:
slice2 = NUM[2:4] 	#returns i3,i4
slice2

['i3', 'i4']

In [29]:
slice3 = NUM[3:4] 	#returns i4 due to it take not the last object
slice3

['i4']

In [30]:
slice4 = NUM[3:] 	#returns everything from the forth position to the end
slice4

['i4', 'i5', 'i6', 'iNEW']

In [31]:
slice5 = NUM[:2] 	#returns everything until the second position (obs: it starts at 0)
slice5

['i1', 'i2']

In [33]:
print(NUM.index('i2')) #returns the position where 'i2' is located

1

In [34]:
NUM.insert(3, 'i10') #insert at the forth position a new object
NUM

['i1', 'i2', 'i3', 'i10', 'i4', 'i5', 'i6', 'iNEW']

In [35]:
NUM.pop(6) # removes the seventh position
NUM

['i1', 'i2', 'i3', 'i10', 'i4', 'i5', 'iNEW']

In [36]:
NUM.sort() #put it into crescent order
NUM

['i1', 'i10', 'i2', 'i3', 'i4', 'i5', 'iNEW']

In [37]:
NUM.sort(reverse=True) #put it into decrescent order
NUM

['iNEW', 'i5', 'i4', 'i3', 'i2', 'i10', 'i1']

In [ ]:
#this example was a single vector that had to be cut when the 'block' has ended

    #lineList = [line.rstrip('\n') for line in open(arquivo, encoding = 'latin1')]

#then to follow the pattern of the file, when creating DataFrame in Pandas, had to reset index to fit in the same line

#a = blocos[0::10].str.split(expand=True).reset_index()
#b = blocos[1::10].str.split(expand=True).reset_index()

### FUNCTIONS PRATICAL EXAMPLES

In [39]:
def sum(numbers):
  total = 0
  for number in numbers:
    total += number
  return total


n = [1, 2, 5, 10, 13]
print(sum(n))

31

In [42]:
def conditions(y):
  if y > 10:
    return 'bigger than 10'
  elif y >= 3:
    return 'between 3 and 10'
  else:
    return 'lower than 3'


print(conditions(2))

lower than 3

In [45]:
def tax(y):
  y *= 1.08  
  return y


cost = 100
TotalCost = tax(cost)
print(TotalCost)

108.0

In [47]:
def add_function(x,y):
    return x+y


m = 5
n = 13
print(add_function(m, n))

18

In [52]:
def func(list):
  print(max(list))
  return max(list)

XZ=[1, 2, 4, 6]
func(XZ)

6

6

In [62]:
def X(n):
  return n+3
def Y(z):
  return X(z)+0

print(X(1))
print(Y(0))

4
3

In [63]:
def count_small(numbers):
  total = 0
  for n in numbers:
    if n < 10:
      total = total + 1
  return total


n = [1, 2, 5, 10, 13]
print(count_small(n))

3

In [65]:
def list_function(x):
    x[1] = x[1] + 3
    return x


n = [3, 5, 7]
print(list_function(n)) #only changes the second object

[3, 8, 7]

In [66]:
def list_extender(lst):
    lst.append(9)
    return lst


n = [3, 5, 7]
print(list_extender(n))

[3, 5, 7, 9]

In [76]:
def print_list(x):
    for i in range(0, len(x)):
        print(x[i])


n = [3, 5, 7]
print(print_list(n), '\n')
print_list(n)

3
5
7
None

3
5
7

In [81]:
#def my_function(x):
#  for i in range(0, len(x)):
#    x[i] = x[i]
#  return x


#print(my_function(range(1,4)))

In [84]:
def join_strings(words):
    result = ""
    for w in range(len(words)):
        result += words[w]
    return result


n = ["Hello", "Friend"]
print(join_strings(n))

HelloFriend

In [86]:
def flatten(lists):
  result = []
  for numbers in lists:
    for i in numbers:
      result.append(i)
  return result


n = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]
print(flatten(n))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [100]:
word = "TWO"
for char in word:
    print(char,)

T
W
O

In [104]:
list_a = [3, 9, 17, 15, 19]
list_b = [2, 4, 8, 10, 30, 40, 50, 60, 70, 80, 90]
for a, b in zip(list_a, list_b):
    print(max(a,b))

3
9
17
15
30

In [106]:
#absolute test

def is_int(x):
    absolute = abs(x)
    rounded = round(absolute)
    return absolute - rounded == 0


print(is_int(10))
print(is_int(10.5))

True
False

In [113]:
# sum of the positive integers numbers

def digit_sum(n):
    total = 0
    strN = str(n)
    for char in strN:
        total += int(char)
    return total


print(digit_sum(123456))

21

In [115]:
# number's factorial

def factorial(x):
    total = 1
    while x>0:
        total *= x
        x-=1
    return total


print(factorial(5))

120

In [117]:
# cousing numbers

def is_prime(x):
    if x < 2:
        return False
    else:
        for n in range(2, x-1):
            if x % n == 0:
                return False
        return True


print(is_prime(13))
print(is_prime(10))

True
False

In [119]:
# reverse of a string

def reverse(texto):
  palavra = ""
  letras = len(texto) - 1
  while letras >= 0:
    palavra = palavra + texto[letras]
    letras -=1
  return palavra


print(reverse('BRAZIL'))

LIZARB

In [136]:
# exclude vogals

def anti_vowel(text):
    palavra = ""
    vogais = "aeiouAEIOU"
    for char in text:
        if char not in vogais:
            palavra += char
    return palavra


print(anti_vowel('papagaio'))

ppg

In [144]:
# dictionaries value's sums

score = {'a': 1, 'c': 3, 'b': 3, 'i': 4}
def scrabble_score(word):
    word = word.lower()
    total = 0
    for letter in word:
        for leter in score:
            if letter == leter:
                total = total + score[leter]
    return total

    
print(scrabble_score("pizza"))

5

In [150]:
# exclude a word from a text

def censor(text, word):
    words = text.split()
    result = ''
    stars = '*' * len(word)
    count = 0
    for i in words:
        if i == word:
            words[count] = stars
        count += 1
    result =' '.join(words)
    return result


phrase='this hack is wack hack'
WordToExclude='is'
print(censor(phrase, WordToExclude))

this hack ** wack hack

In [159]:
# list's item to count

def count(sequence, item):
    count = 0
    for i in sequence:
        if i == item:
            count += 1
    return count


lista=[1, 2, 1, 1,4,2,6,1,8,3,6,3,1,1]
WhatTo=1
print(count(lista, WhatTo))

6

In [164]:
# display of evens

def purify(lista):
    NovaLista = []
    for i in lista:
        if i%2 == 0:
            NovaLista.append(i)
    return NovaLista


lista=[1,2,3,4,5,6,7,8,9,10,11]
print(purify(lista))

[2, 4, 6, 8, 10]

In [166]:
# list's product

def product(lista):
    total = 1
    for num in lista:
        total = total * num
    return total


lista=[1,2,3,4,5]
print(product(lista))

120

In [168]:
# removing duplicates 

def remove_duplicates(inputlist):
    if inputlist == []:
        return []    
    inputlist = sorted(inputlist)     # Sort the input list from low to high   
    outputlist = [inputlist[0]]     # Initialize the output list with 1st sorted value
    for i in inputlist:    # append to the output list any values > last value
        if i > outputlist[-1]:
            outputlist.append(i)        
    return outputlist


lista=[1,2,3,4,5,3,7,2,9,4,5]
print(remove_duplicates(lista))

[1, 2, 3, 4, 5, 7, 9]

In [170]:
# takes the median

def median(lst):
    sorted_list = sorted(lst)
    if len(sorted_list) % 2 != 0: #odd number of elements
        index = len(sorted_list)//2 
        return sorted_list[index]
    
    elif len(sorted_list) % 2 == 0: #even no. of elements
        index_1 = len(sorted_list)/2 - 1
        index_2 = len(sorted_list)/2
        mean = (sorted_list[index_1] + sorted_list[index_2])/2.0
        return mean


lista=[1,2,3,4,5,3,7,2,9,4,5]
print(median(lista))

4

In [1]:
import datetime
x = '14.05.2019'
some_list = x.split('.')
y = datetime.datetime(int(some_list[2]), int(some_list[1]), int(some_list[0]))
y

datetime.datetime(2019, 5, 14, 0, 0)